<!-- Library page -->


<div  class="uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow card-brown">

  <!-- preloader 
  <div id="preloader" class="uk-overlay-primary uk-position-cover">
    <div class="uk-position-center">
      <span uk-spinner="ratio: 2"></span>
    </div>
  </div>-->

  <script>
    var textColors = ['Red', 'Blue', 'Yellow', 'Green', 'Orange'];
    function findColor() {
      var textColor = textColors[Math.floor(Math.random() * textColors.length)];
      //return textColor;            
      console.log(textColor);
      $("#textColor").append(textColor);
    }
    findColor();
    $("#color").append(textColor);

  </script>

  {{#each contributions}}

  <div class="uk-margin-large uk-card uk-card-default uk-card-body uk-box-shadow uk-card-hover uk-card-secondary">



    <ul uk-accordion="multiple: true">
      <li class="uk-open">
        <a class="uk-accordion-title" href="#">




          <h2 style="color:rgba(253, 132, 33, 0.829)"> {{title}} </h2>
        </a>
        <div class="uk-accordion-content">

          <!-- Added edit, delete, and like buttons -->
          <a href="/edit-contribution/{{_id}}" uk-icon="pencil"></a><a href="/delete-contribution/{{_id}}"
            uk-icon="trash"><a href="/like-contribution/{{_id}}" uk-icon="star">{{likes}}</a>

            <p>{{bio}}</p>
            <h4 style="font-family:chalkboard">A {{genre}} story</h4>
            <!--<h4 style="font-family:chalkboard">by {{contributor.firstName}}</h4>-->

            <!-- Generated story based on user inputted information, weather api, stem paragraph, and GPT3 text generator-->
            <!-- <p class="uk-align-left">{{{story}}}</p> -->
            <p style="font-family:chalkboard" align="left">{{{story}}}</p>

            <!-- Generated image based on user inputted teddy type, taken from Unsplash API -->
            <img src={{image}} width="400" />

            <h4 style="font-family:chalkboard">The End</h4>




        </div>

  </div>
  {{/each}}


</div>