<!-- Story Page, where stories appear after user enters their data. Potentially add this as an intermediary stage
where users can view their generated story and either save it or generate another one. 
This might solve some of the issues Stories can then be saved to Library Page -->


<div class=" uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow">



  {{#each contributions}}

  <div class="uk-margin-large uk-card uk-card-default uk-card-body uk-box-shadow uk-card-hover uk-card-secondary">



    <ul uk-accordion="multiple: true">
      <li class="uk-open">
        <a class="uk-accordion-title" href="#">
          <h2> {{title}} </h2>
        </a>
        <div class="uk-accordion-content">



          <!--<div class="uk-margin-large uk-card uk-card-default uk-card-body uk-box-shadow">-->
          <!-- Added extra pair of curly brackets for cross-site scripting test-->
          <!--<h2>{{title}}</h2>-->
          <!-- Added edit, delete, and like buttons -->
          <a href="/edit-contribution/{{_id}}" uk-icon="pencil"></a><a href="/delete-contribution/{{_id}}"
            uk-icon="trash"><a href="/like-contribution/{{_id}}" uk-icon="star">{{likes}}</a>

            <p>{{bio}}</p>
            <h4>A {{genre}} story</h4>
            <h4>by {{contributor.firstName}}
              <!--{{contributor.lastName}}-->
            </h4>


            <!--</div>-->
            <!-- <div class="uk-margin-large uk-card uk-card-default uk-card-body uk-box-shadow">-->



            
           <!--- <p>Output: <span id="contentStory"></span> {{story}} <span id="openAiOutput"><span> <span
                    class="open-ai-output"></p>--->


             <p>{{story}} </p>

            <p>inverted commas</p>
            <img class="{{story}}" width="300" src="">
            <p>no commas</p>
            <img class={{story}} width="300" src="">


            <h4>The End</h4>

            <!--</div> -->
        </div>

  </div>
  {{/each}}
</div>
