<!-- Library page -->


<div class=" uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow">



  {{#each contributions}}

  <div class="uk-margin-large uk-card uk-card-default uk-card-body uk-box-shadow uk-card-hover uk-card-secondary">



    <ul uk-accordion="multiple: true">
      <li class="uk-open">
        <a class="uk-accordion-title" href="#">

 <script>
            var textColors = ['Red', 'Blue', 'Yellow', 'Green', 'Orange'];
var textColor = textColors[Math.floor(Math.random()*things.length)];
        </script>

          <h2 style="color:{{textColor}}"> {{title}} </h2>
        </a>
        <div class="uk-accordion-content">

          <!-- Added edit, delete, and like buttons -->
          <a href="/edit-contribution/{{_id}}" uk-icon="pencil"></a><a href="/delete-contribution/{{_id}}"
            uk-icon="trash"><a href="/like-contribution/{{_id}}" uk-icon="star">{{likes}}</a>

            <p>{{bio}}</p>
            <h4>A {{genre}} story</h4>
            <h4>by {{contributor.firstName}}
            </h4>

            <!-- Generated story based on user inputted information, weather api, stem paragraph, and GPT3 text generator--> 
             <!-- <p class="uk-align-left">{{{story}}}</p> -->
              <p align="left">{{{story}}}</p>

            <!-- Generated image based on user inputted teddy type, taken from Unsplash API -->
               <img src={{image}} width="400"/>

            <h4>The End</h4>

        </div>

  </div>
  {{/each}}


</div>